<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Location" connectionString="" />
    <add name="MasterDB" connectionString="" />
    <add name="LPdatabase" connectionString="" providerName="Access"/>
    <add name="orderFiles" connectionString="" />
    <add name="imagesFolder" connectionString="" />
    <add name="releaseFolder" connectionString="" />
    <add name="locationAddress" connectionString="" />
    <add name="productNameList" connectionString="" />
    <add name="specialCustomersList" connectionString="" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>